[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pytube = "*"
librosa = "*"
numpy = "*"
tqdm = "*"
beautifulsoup4 = "*"
requests = "*"
spotipy = "*"
streamlit = "*"
matplotlib = "*"
googlesearch-python = "*"
sanitize-filename = "*"

[dev-packages]

[requires]
python_version = "3.9"
